.wallet {
    background: greenyellow;
    height: 80vh;
    text-align: center;
}

@media ( max-width: 600px ){
    .wallet {
        width: 100%;
        height: auto;
        background: greenyellow;
        text-align: center;
    }
}