.eth-wallet {
    background: greenyellow;
    height: 84vh;
    text-align: center;
}

@media ( max-width: 800px ){
    .eth-wallet {
        width: 100%;
        height: auto;
        background: greenyellow;
        text-align: center;
    }
}