.eth-erc20-history {
    background: rgb(255, 255, 255);
    height: 84vh;
    text-align: center;
    float: left;
    width: 50%;
    padding-top:1px;
    padding-bottom:1px;
}

.eth-erc20-history-list {
    height: 75vh;
    overflow-y: visible;
    overflow-x: hidden;
    overflow-wrap: break-word;
}


@media ( max-width: 800px ){
    .eth-erc20-history {
        float: none;
        width: 100%;
        background: rgb(255, 255, 255);
        height: 92vh;
        text-align: center;
        padding-top:1px;
        padding-bottom:1px;
    }

    .eth-erc20-history-list {
        height: 83vh;
        overflow-y: visible;
        overflow-x: hidden;
        overflow-wrap: break-word;
    }
    
}

.eth-erc20-history-header {
    height: 8vh;
    font-size: 18px;
    line-height:1.6em;
}

.eth-erc20-history-header-blocknumber {
    width: 15%;
    font-size: 16px;
}

.eth-erc20-history-header-time-address {
    width: 55%;
    font-size: 16px;

}

.eth-erc20-history-header-value-fees {
    width: 30%;
    font-size: 16px;
}

.eth-erc20-history-item-blocknumber {
    width: 15%;
    font-size: 14px;
}

.eth-erc20-history-item-arrow{
    width: 5%;
}

.eth-erc20-history-item-time-address {
    width: 50%;
    font-size: 14px;
}

.eth-erc20-history-item-value-fees {
    width: 30%;
    font-size: 14px;
}
