<h2 matDialogTitle>Transfer {{unit}}</h2>
<mat-dialog-content>
	<form #modalForm="ngForm">
		<ul>
			<li>
				<mat-form-field class="transfer-eth-dialog-input">
					<input matInput [(ngModel)]="to"  name="to" placeholder="Enter the address to receive the {{unit}}.">
				</mat-form-field>
			</li>
			<li>
				<mat-form-field class="transfer-eth-dialog-input">
					<input matInput [(ngModel)]="value"  name="value" [type]="'number'" placeholder="Enter an {{unit}} value to transfer.">
				</mat-form-field>
			</li>
			<li>
				<mat-form-field class="transfer-eth-dialog-input">
					<input matInput [(ngModel)]="gasLimit"  name="gasLimit" [type]="'number'" placeholder="Enter an gas limit value for transfer.">
				</mat-form-field>		
			</li>
			<li>
				<mat-form-field class="transfer-eth-dialog-input">
					<input matInput [(ngModel)]="gasPrice"  name="gasPrice" [type]="'number'" placeholder="Enter an gas price value for transfer.">
				</mat-form-field>	
			</li>
			<li>
				<mat-form-field class="transfer-eth-dialog-input">
					<input matInput placeholder="Enter your secret"  name="secret" [type]="secretHide ? 'password' : 'text'" [(ngModel)]="secret" >
					<mat-icon matSuffix (click)="secretHide = !secretHide">{{secretHide ? 'visibility' : 'visibility_off'}}</mat-icon>
				</mat-form-field>		
			</li>
		</ul>
	</form>
</mat-dialog-content>	
<mat-dialog-actions align="end">
	<button mat-button [mat-dialog-close]="modalForm.value" color="primary">Transfer</button>
	<button mat-button matDialogClose="cancel" color="primary">Close</button>
</mat-dialog-actions>
