

<div class="eth-history">
     <mat-toolbar class="eth-history-header" color="primary">
        <span class="eth-history-header-time">Time</span> 
        <span class="eth-history-header-to">To</span> 
        <span class="eth-history-header-blocknumber">Block<br>Number</span> 
        <span class="eth-history-header-value">Value</span> 
        <span class="eth-history-header-fees">Fees</span> 
    </mat-toolbar>
    <mat-list class="eth-history-list">
        <mat-list-item> Pepper PepperPepperPepperPepperPepperPepperPepperPepperPepperPepperPepperPepperPepperPepper</mat-list-item>
        <mat-list-item> Salt </mat-list-item>
        <mat-list-item> Paprika </mat-list-item>
        <mat-list-item> Pepper </mat-list-item>
        <mat-list-item> Salt </mat-list-item>
        <mat-list-item> Paprika </mat-list-item>
        <mat-list-item> Pepper </mat-list-item>
        <mat-list-item> Salt </mat-list-item>
        <mat-list-item> Paprika </mat-list-item>
        <mat-list-item> Pepper </mat-list-item>
        <mat-list-item> Salt </mat-list-item>
        <mat-list-item> Paprika </mat-list-item>
        <mat-list-item> Pepper </mat-list-item>
        <mat-list-item> Salt </mat-list-item>
        <mat-list-item> Paprika </mat-list-item>
        <mat-list-item> Pepper </mat-list-item>
        <mat-list-item> Salt </mat-list-item>
        <mat-list-item> Paprika </mat-list-item>
        <mat-list-item> Pepper </mat-list-item>
        <mat-list-item> Salt </mat-list-item>
        <mat-list-item> Paprika </mat-list-item>
    </mat-list>
</div>