
.login {
    background: rgb(255, 255, 255);
    height: 84vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20vw;
    padding-right: 20vw;

}

.login-input {
    margin-bottom: 4px;
}

.login-button {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom:  10px;
}

.signup-button {
    color: rgb(60, 32, 158);
    text-align: center;
}

.blockchain-img {
    width: 260px;
    height: 260px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}


@media ( max-width: 1000px ){
    .blockchain-img {
        width: 220px;
        height: 220px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
}

@media ( max-width: 800px ){
    .blockchain-img {
        width: 180px;
        height: 180px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
}

@media ( max-height: 700px ){
    .blockchain-img {
        display: none;
    }
}



