<div class="login">
    <img src="assets/images/blockchain.png" class="blockchain-img"/>
    <mat-form-field class="login-input">
        <input matInput placeholder="Enter your email" [formControl]="emailControl" [(ngModel)]="email" required>
        <mat-error *ngIf="emailControl.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field class="login-input">
        <input matInput placeholder="Enter your password" [type]="passwordHide ? 'password' : 'text'" [(ngModel)]="password" >
        <mat-icon matSuffix (click)="passwordHide = !passwordHide">{{passwordHide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
    <button mat-raised-button color="primary" class="login-button" (click)="submit($event)">Log In</button>
    <a routerLink="/register" class="signup-button">Sign Up</a>
</div>