.eth-main {
    background: rgb(255, 255, 255);
    height: 84vh;
    text-align: center;
    float: left;
    width: 50%;
}

@media ( max-width: 800px ){
    .eth-main {
        float: none;
        width: 100%;
        background: rgb(255, 255, 255);
        height: 92vh;
        text-align: center;
    }
}

.eth-email{
    font-size: 26px;
    font-weight: 600;
    color: slategrey;
    margin-top: 5vh;
}

.eth-qrcode{
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: -5vh;
}

.eth-address{
    font-size: 20px;
    font-weight: 400;
    overflow-wrap: break-word;
    color: slategrey;
    margin-left: 5vw;
    margin-right: 5vw;
}

.eth-balance{
    font-size: 26px;
    font-weight: 500;
    overflow-wrap: break-word;
    color: slategrey;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.eth-transfer-button{
    font-size: 15px;
    margin-top: 2vh;
}