.main {
    background: rgb(255, 255, 255);
    height: 84vh;
    text-align: center;
    vertical-align: middle;
    line-height: 84vh;   
    float: left;
    width: 50%;
}

@media ( max-width: 600px ){
    .main {
        float: none;
        width: 100%;
        background: rgb(255, 255, 255);
        height: 92vh;
        text-align: center;
        vertical-align: middle;
        line-height: 92vh;   
    }
}