
<mat-toolbar class ="navi" color="primary">
	<span class="navi-button" [matMenuTriggerFor]="ethMenu" >Ethereum</span> 
	<mat-menu #ethMenu="matMenu">
		<button mat-menu-item routerLink="/eth" class="navi-menu-button">Ethereum</button>
		<button mat-menu-item class="navi-menu-button">Tokens (ERC20)</button>
		<mat-divider></mat-divider>
		<button mat-menu-item class="navi-menu-button" (click)= "addToken($e)">Add Token (ERC20) </button>
	</mat-menu>
	<span routerLink="/eos" class="navi-button">EOS</span> 
	<span class="navi-spacer"></span> 
	<button mat-icon-button  [matMenuTriggerFor]="loginMenu" >
		<mat-icon class="navi-icon">{{loginIcon}}</mat-icon> 
	</button>
	<mat-menu #loginMenu="matMenu">
		<button mat-menu-item routerLink="/login" (click)="logOut($event)" class="navi-menu-button" *ngIf="isLogIn; else btnLogIn">LogOut</button>
		<ng-template #btnLogIn>
			<button mat-menu-item routerLink="/login" class="navi-menu-button">LogIn</button>
			<button mat-menu-item routerLink="/register" class="navi-menu-button">Sign Up</button>
		</ng-template>
	</mat-menu>
</mat-toolbar>


